body {

    padding-top: 0em;

    font-family: Calibri, Arial,
    "Times New Roman", serif;

    color: white;
    background-color: darkseagreen }

h1 {
    font-family: Verdana, Geneva, Arial,
    SunSans-Regular, sans-serif }

ul.navbar {
    float: left;
    width: 100%;
    list-style: none;
    background: black;
    margin: 0;
    padding: 0; }

  ul.navbar li {
    display: inline; }

  ul.navbar a {
    padding: 2px 10px;
    display: inline-block;
    background-color: black;
    color: white;
    text-decoration: none;
    border-bottom:3px solid #EDEDED; }

  ul li a:hover {
    background-color:darkseagreen;
    color: #6D6D6D;
    border-bottom:3px solid #6D6D6D;
}

  a:link {
    color: blue }

  a:visited {
    color: purple }
